/* CSS for Survey Form */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Vertically align the buttons */
}

/* button {
    flex: 1;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
} */

button:hover {
    background-color: #0056b3;
}

#prevButton {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
        font-size: 16px;
        margin-top: 5px;
        margin-right: 30px;
       

}
#nextButton
{
  
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        width: 100px;
        margin-top: 5px;
        margin-bottom: 100;
}

#submitButton {
    padding: 10px 20px;
    background-color: #1f8d43;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 30px;
}

#submitButton:hover {
    background-color: #1f8d43;
}