<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
     <section class="container forms" style="height: 100vh;">
            <div class="form login">
                <div class="form-content">
                    <header style="margin-top: 0;">Login</header>
                    <form action="/loginValid" method="post">
                        <div class="field input-field">
                            <input type="email" name="email" placeholder="Email" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" name="password" placeholder="Password" class="password">
                        </div>

                        <div class="field button-field">
                            <button type="submit">Login</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="/signup" class="link signup-link">Signup</a></span>
                    </div>
                </div>

            </div>
            </section>
</body>
</html>