<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Profile</title>

    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section class="container forms">
    <div class="form login">
                <div class="form-content">
                    <header>Complete Your Profile</header>
                    <form action="/submit" method="post">
                        <div class="field input-field">
                            <input type="text" name="fullname" placeholder="Full Name" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="number" name="phone" placeholder="Phone number with country code" class="input">
                        </div>
                        
                        <div class="field input-field">
                            <input type="text" name="address" placeholder="Address line 1" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="text" name="state" placeholder="State" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="text" name="country" placeholder="Country" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="number" name="zipcode" placeholder="Zip Code" class="input">
                        </div>
                        <div class="field button-field">
                          <a href="/home">  <button type="submit" >Submit</button> </a>
                        </div>
                    </form>
                </div>
            </div>
            </section>
            
</body>
</html>