<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section class="container forms">
    <div class="form">
                <div class="form-content">
                    <header>Complete Your Profile</header>
                    <form action="" method="post">
                        <div class="field input-field">
                            <input type="text" placeholder="Full Name" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="number" placeholder="Phone number with country code" class="input">
                        </div>
                        
                        <div class="field input-field">
                            <input type="text" placeholder="Address line 1" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="text" placeholder="State" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="text" placeholder="Country" class="input">
                        </div>
                        <div class="field input-field">
                            <input type="number" placeholder="Zip Code" class="input">
                        </div>
                        <div class="field button-field">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            </section>
            
</body>
</html>