<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
=======
    <link rel="stylesheet" href="/css/style.css" type="text/css">
>>>>>>> b9c06c74ea95ed79f8878057e27a566eb1e8ff79
    <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section class="container forms">
            <!-- Signup Form -->
            <div class="form signup">
                <div class="form-content">
                    <header>Create an account</header>
<<<<<<< HEAD
                    <form action="/mail" method="post" id="emailPasswordForm">

                        <div class="field input-field">
                            <input type="email" placeholder="Email" name="email" class="input" id="email">
=======
                    <form action="/signup" method="post" id="emailPasswordForm">

                        <div class="field input-field">
                            <input type="email" placeholder="Email" name="email" class="input">
>>>>>>> b9c06c74ea95ed79f8878057e27a566eb1e8ff79
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Create password" name="password" class="password">
                        </div>

                        <div class="field button-field" id="btnOtp">
                            <button type="submit">Send OTP</button>
<<<<<<< HEAD

                        </div>
                    </form>

                        <form action="/otp" method="post" id="otpForm" style="display: none;">
=======
                        </div>
                        </form>

                        <form action="/signup" method="post" id="otpForm" style="display: none;">
>>>>>>> b9c06c74ea95ed79f8878057e27a566eb1e8ff79
                        <div class="field input-field">
                            <input type="number" placeholder="Enter OTP" name="user_otp" class="password">
                        </div>

                        <div class="field button-field">
                         <a href="/profile">  <button  type="submit">Verify and Register</button> </a> 
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="/login" class="link login-link">Login</a></span>
                    </div>
                </div>


            </div>
        </section>
<<<<<<< HEAD
        <script>
            var email = document.getElementById('email');
            console.log(email);
        </script>

        <script src="public/javaScript/script.js"></script>
=======
        <script src="/javaScript/script.js"></script>
>>>>>>> b9c06c74ea95ed79f8878057e27a566eb1e8ff79
</body>
</html>