<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="/mail" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" id="" required>
        <label for="password">Password</label>
        <input type="text" name="password" id=""required>
        <input type="submit" name="Submit" id="">
    </form>

</body>
</html>